.msgSender {
    padding: 20px;
    background: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.06);
    border-radius: 12px;
    margin-bottom: 20px;
}

.msgSender__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

    .msgSender__top form {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .msgSender__top input {
        flex: 1;
        border: none;
        padding: 10px;
        margin: 0 10px;
        border-radius: 10px;
        background: #f1f1f1;
        outline: none;
    }

        .msgSender__top input:focus {
            border: 1px solid var(--pryde-primary);
        }
