.messengerWrapper {
    display: flex;
    height: 100vh;
    background: #f7f7fa;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.messengerLeft {
    width: 27%;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
}

.messengerMiddle {
    width: 46%;
    background: #fafbfc;
    display: flex;
    flex-direction: column;
}

.messengerRight {
    width: 27%;
    background: #ffffff;
    border-left: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
}
