.post {
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.06);
    background: white;
    border-radius: 12px;
    margin-bottom: 20px;
}

.post__top {
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.post__topInfo {
    margin-left: 20px;
}

    .post__topInfo p {
        color: gray;
        font-size: 12px;
    }

.post__middle img {
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}

.post__middle p {
    margin-top: 10px;
    font-size: 15px;
}

.post__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.post__action {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
}

    .post__action:hover {
        background-color: rgba(111, 66, 193, 0.12);
    }

.liked {
    color: var(--pryde-primary);
}
