.signup {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.signup__card {
    background: white;
    padding: 40px;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
    text-align: center;
}

.signup__logo {
    font-size: 42px;
    font-weight: 700;
    color: var(--pryde-primary);
    margin-bottom: 10px;
}

.signup__names {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.signup__card input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

    .signup__card input:focus {
        border-color: var(--pryde-primary);
    }

.signup__link {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: var(--pryde-primary);
}

    .signup__link:hover {
        text-decoration: underline;
    }
