.story {
    position: relative;
    margin: 3px;
    height: 200px;
    width: 120px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 150ms ease-in;
}

    .story:hover {
        transform: scale(1.07);
    }

.avatar {
    position: absolute;
    top: 10px;
    border: 2px solid var(--pryde-primary);
    margin-left: 10px;
    border-radius: 50%;
}

.story h5 {
    position: absolute;
    bottom: 5px;
    margin-left: 7px;
    color: white;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
}
